---
import ServiceItem from "./ServiceItem.astro";
import Heading from "../ui/Heading.astro";

const SERVICES = [
  {
    title: "Linktree",
    info: "All links, one click away",
    description:
      `Gathers all links to the Team's services and resources in one place, accessible at <a href="https://links.k1nd4sus.it/" class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">https://links.k1nd4sus.it/</a>.`,
  },
  {
    title: "Telegram",
    info: "News, communications, announcements",
    description:
      `Created to keep participants informed about Team activities, upcoming competitions and training opportunities. Join by clicking <a 
      href="https://t.me/k1nd4susCTF"
      class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">HERE</a> for Telegram News and 
      <a href="https://t.me/+_l_1wvVRK0U2MGFk" class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">HERE</a> for the regular channel.`,
  },
  {
    title: "Discord",
    info: "Voice chat, live events, training",
    description:
      `Allows you to communicate with other members and meet for training and competitions. To join and request the role click <a 
      href="https://discord.com/invite/6GTSrewn8y" class="underline text-mint-400 hover:text-mint-600 transition-colors" 
      target="_blank" rel="noopener">HERE</a>.`,
  },
  {
    title: "CTF Writeups",
    info: "Documentation, analysis, reports",
    description:
      `The collection of writeups from past competitions, which can be useful for studying and improving your skills. You can find it <a 
      href="/blog/tags/writeup" class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">HERE</a>.`,
  },
  {
    title: "Calendar",
    info: "Meetings, competitions, events",
    description:
      `Useful for keeping track of events the Team participates in and planning your participation. Online
      <a href="/calendar" class="underline text-mint-400 hover:text-mint-600 transition-colors">HERE</a> or
      add it to your calendar by clicking <a 
      href="https://calendar.google.com/calendar/u/0/r?cid=5eb9beffb92ab4a091eb068474ac496f6e0a3b30785a97dfde0489b36e368385@group.calendar.google.com"
      class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">HERE</a>.`,
  },
  {
    title: "Vaultwarden",
    info: "Credentials management, contests, competitions",
    description:
      `To securely share login credentials for competitions. Approval required: for issues you can contact an admin. <a 
      href="https://vault.k1nd4sus.it/#/login" class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">HERE</a> is the link to register.`,
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="services">
  <div class="flex flex-col max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Heading text="Our" textGradient="Services" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional services">
      <ol class="relative mt-10">
        {
          SERVICES.map((services, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`services-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`services-title-${index}`}
                >
                  <ServiceItem {...services} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
