---
import ServiceItem from "./ServiceItem.astro";
import Heading from "../ui/Heading.astro";

const SERVICES = [
  {
    title: "Linktree",
    info: "Tutti i link, a un click",
    description:
      `Raccoglie in un unico posto tutti i link ai servizi e alle risorse del Team, è accessibile all’indirizzo <a href="https://links.k1nd4sus.it/" class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">https://links.k1nd4sus.it/</a>.`,
  },
  {
    title: "Telegram",
    info: "News, comunicazioni, annunci",
    description:
      `Creato per mantenere al corrente i partecipanti su attività del Team, competizioni imminenti e opportunità di formazione. Unisciti cliccando <a 
      href="https://t.me/k1nd4susCTF"
      class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">QUI</a> per Telegram News e 
      <a href="https://t.me/+_l_1wvVRK0U2MGFk" class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">QUI</a> per il canale normale.`,
  },
  {
    title: "Discord",
    info: "Voicechat, eventi live, training",
    description:
      `Permette di comunicare con gli altri membri e trovarsi per allenamenti e competizioni. Per entrare e richiedere il ruolo clicca <a 
      href="https://discord.com/invite/6GTSrewn8y" class="underline text-mint-400 hover:text-mint-600 transition-colors" 
      target="_blank" rel="noopener">QUI</a>.`,
  },
  {
    title: "CTF Writeups",
    info: "Documentazione, analisi, report",
    description:
      `La raccolta di writeup di competizioni passate, che possono essere utili per studiare e migliorare le proprie abilità. Puoi trovarla <a 
      href="/blog/tags/writeup" class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">QUI</a>.`,
  },
  {
    title: "Calendario",
    info: "Meeting, competizioni, eventi",
    description:
      `Utile a tener traccia degli eventi a cui il Team partecipa e a poter pianificare la propria partecipazione. Online
      <a href="/calendar" class="underline text-mint-400 hover:text-mint-600 transition-colors">QUI</a> oppure
      aggiungibile al tuo calendario cliccando <a 
      href="https://calendar.google.com/calendar/u/0/r?cid=5eb9beffb92ab4a091eb068474ac496f6e0a3b30785a97dfde0489b36e368385@group.calendar.google.com"
      class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">QUI</a>.`,
  },
  {
    title: "Vaultwarden",
    info: "Gestione credenziali, gare, competizioni",
    description:
      `Per condividere in sicurezza le credenziali di accesso alle competizioni. Occorre approvazione: per problemi è possibile contattare un admin. <a 
      href="https://vault.k1nd4sus.it/#/login" class="underline text-mint-400 hover:text-mint-600 transition-colors" target="_blank" rel="noopener">QUI</a> il link per registrarsi.`,
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="services">
  <div class="flex flex-col max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Heading text="I nostri" textGradient="Servizi" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional services">
      <ol class="relative mt-10">
        {
          SERVICES.map((services, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`services-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`services-title-${index}`}
                >
                  <ServiceItem {...services} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
